<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
	<nav class="navbar navbar-light bg-light">
			<a class="navbar-brand" href='{{url_for('showRestaurants')}}'>
				<img src="/images/baseline-home-24px.svg" width="30" height="30" class="d-inline-block align-top" alt="">
				Show All Restaurants
			</a>
			<button type="submit" class="btn btn-primary">Login</button>
	</nav>
	<h1> Are you sure you want to delete {{restaurant.name}}? </h1>

	<form action="#" method = 'post'>

	<input type='submit', value = 'Delete'>




	</form>

	<a href = '{{url_for('showRestaurants')}}'> Cancel </a>
</body>

</html>