<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
	<nav class="navbar navbar-light bg-light">
			<a class="navbar-brand" href='{{url_for('showRestaurants')}}'>
			  <img src="/images/baseline-home-24px.svg" width="30" height="30" class="d-inline-block align-top" alt="">
			  Show All Restaurants
			</a>
			<button type="submit" class="btn btn-primary">Login</button>
	</nav>
	<h1> Edit Menu Item </h1>
<form action="{{ url_for('editMenuItem',restaurant_id = item.restaurant_id, menu_id=item.id)}}" method = 'post'>


	<p>Name:</p>
		<input type ='text' size='30' name='name' placeholder = '{{item.name }}'>
	<p>Description:</p>
		<input type ='text' size='30' name='description' placeholder = '{{item.description}}'>
	<p>Price:</p>
		<input type ='text' size='30' name='price' placeholder = '{{item.price}}'>
	<p>Course:<p>

	{% if item.course == 'Appetizer' %}
		<dd><input type ='radio' name='course' value='Appetizer'checked >Appetizer</dd>
	{%else%}
	<dd><input type ='radio' name='course' value='Appetizer' >Appetizer</dd>
    {% endif %}

    {% if item.course == 'Entree' %}
       <dd><input type ='radio' name='course' value='Entree' checked>Entree</dd>

    {%else%}
		<dd><input type ='radio' name='course' value='Entree'>Entree</dd>
    {% endif %}

	{% if item.course == 'Dessert'%}
		<dd><input type ='radio' name='course' value='Dessert'checked >Dessert</dd>

	{% else %}
	   <dd><input type ='radio' name='course' value='Dessert'>Dessert</dd>

	{% endif %}


	{%if item.course =='Beverage'%}
		<dd><input type ='radio' name='course' value='Beverage'checked >Beverage</dd>
	{% else %}
		<dd><input type ='radio' name='course' value='Beverage'>Beverage</dd>
	{% endif %}



<input type='submit' value='Edit'>


<a href = '{{url_for('showMenu', restaurant_id = restaurant_id, menu_id=menu_id.id)}}'> Cancel </a>
	

</form>
</body>
</html>